<!doctype html>
<html>
<head>
    <title>Sneaker Mall</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-shoe"></span>Shoe Options</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="sneaker-display">
        <img class="sneaker-image" id="s1" src="">
        <% if (user.local.email) { %>
        <form action="/mall" method="POST">
            <input type="text" name="name">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
        </form>
        <% } %>
    </div>
    <img class="sneaker-image" id="s2" src="">
    <% if (user.local.email) { %>
    <form action="/mall" method="POST">
        <input type="text" name="name">
        <input type="text" placeholder="message" name="msg">
        <button type="submit">Submit</button>
    </form>
    <% } %>
    </div>
    <img class="sneaker-image" id="s3" src="">
    <% if (user.local.email) { %>
    <form action="/mall" method="POST">
        <input type="text" name="name">
        <input type="text" placeholder="message" name="msg">
        <button type="submit">Submit</button>
    </form>
    <% } %>
    </div>
    <img class="sneaker-image" id="s4" src="">
    <% if (user.local.email) { %>
    <form action="/mall" method="POST">
        <input type="text" name="name">
        <input type="text" placeholder="message" name="msg">
        <button type="submit">Submit</button>
    </form>
    <% } %>
    </div>
    <img class="sneaker-image" id="s5" src="">
    <% if (user.local.email) { %>
    <form action="/mall" method="POST">
        <input type="text" name="name">
        <input type="text" placeholder="message" name="msg">
        <button type="submit">Submit</button>
    </form>
    <% } %>
    </div>
    <img class="sneaker-image" id="s6" src="">
    <% if (user.local.email) { %>
    <form action="/mall" method="POST">
        <input type="text" name="name">
        <input type="text" placeholder="message" name="msg">
        <button type="submit">Submit</button>
    </form>
    <% } %>
    </div>
    <img class="sneaker-image" id="s7" src="">
    <% if (user.local.email) { %>
    <form action="/mall" method="POST">
        <input type="text" name="name">
        <input type="text" placeholder="message"
        name="msg">
        <button type="submit">Submit</button>
    </form>
    <% } %>
    </div>
    <img class="sneaker-image" id="s8" src="">
    <% if (user.local.email) { %>
    <form action="/mall" method="POST">
        <input type="text" name="name">
        <input type="text" placeholder="message" name="msg">
        <button type="submit">Submit</button>
    </form>
    <% } %>
    </div>
    <img class="sneaker-image" id="s9" src="">
    <% if (user.local.email) { %>
    <form action="/mall" method="POST">
        <input type="text" name="name">
        <input type="text" placeholder="message" name="msg">
        <button type="submit">Submit</button>
    </form>
    <% } %>
    </div>
    <img class="sneaker-image" id="s10" src="">
    <% if (user.local.email) { %>
    <form action="/mall" method="POST">
        <input type="text" name="name">
        <input type="text" placeholder="message" name="msg">
        <button type="submit">Submit</button>
    </form>
    <% } %>
    </div>
</div>


<a href="/logout" class="btn btn-default btn-sm">Logout</a>
<div class="row">
    <div class="review-form">
        <h3>Leave a Review</h3>
        <form action="/review" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="reviewer" required>

            <label for="message">Review:</label>
            <textarea id="message" name="review" required></textarea>    
            <button type="submit">Submit Review</button>
        </form>
    </div>

    <div class="view">
        <h3>reviews</h3>
        <ul class="review">
            <% for(var i=0; i<reviews.length; i++) {%>
            <li class="message">
                <span><%= reviews[i].reviewer %></span>
                <span><%= reviews[i].review %></span>
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                <i class="fa fa-edit" aria-hidden="true"></i>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<script src="main.js"></script>

</body>
</html>
