body{
  padding-top:80px;
  word-wrap:break-word;
  background-image: url('img/ombre.png');
  background-size: cover;
  
  
}
h1{
  font-size: 40px;
  color: yellow;
}
h2{
  color: yellow;
}
img{
  width: 33.333%;
  display: flex;
  flex-direction: column;
}

